DROP VIEW IF EXISTS vwObjectsByUser
GO
CREATE VIEW vwObjectsByUser AS

	SELECT	
		OBJ.Id
		,OBJ.[Name]
		,OBJ.UserId
		,OBJ.Deleted
		,1 [Owner]
	FROM 
		tblObject OBJ
	WHERE
		OBJ.Deleted IS NULL

	UNION ALL

	SELECT	
		OBJ.Id
		,CONCAT(OBJ.[Name], ' (', ANU.[Name], ')') [Name]
		,OPR.FriendUserId
		,OBJ.Deleted
		,0 [Owner]
	FROM 
		tblObject OBJ
	INNER JOIN
		tblObjectPermission OPR ON
			OPR.ObjectId = OBJ.Id 
	INNER JOIN
		AspNetUsers ANU ON
			ANU.Id = OBJ.UserId

	WHERE
		OBJ.Deleted IS NULL
GO

SELECT * FROM vwObjectsByUser
GO



ALTER PROCEDURE [dbo].[prcMainTree] (
	@userId nvarchar(128)
) AS BEGIN

	DECLARE @OBJ_P varchar(3), @DEV_P varchar(3), @DTP_P varchar(3)
	SELECT @OBJ_P = 'obj', @DEV_P = 'dev', @DTP_P = 'dtp'

	-- Objects
	SELECT
		CONCAT(@OBJ_P, CAST(OBJ.Id AS VARCHAR)) AS [Id]
		,CAST('#' AS VARCHAR) [Parent]
		,OBJ.[Name] [Text]
		,@OBJ_P [Type]
	FROM
		vwObjectsByUser OBJ
	WHERE
		OBJ.UserId = @userId
		
	UNION ALL

	-- Devices
	SELECT 
		CONCAT(@DEV_P, CAST(DEV.Id AS VARCHAR)) [Id]
		,CONCAT(@OBJ_P, CAST(DEV.ObjectId AS VARCHAR)) [Parent]
		,DEV.[Name] [Text]
		,@DEV_P [Type]
	FROM	
		tblDevice DEV
	WHERE
		DEV.ObjectId IN (
			SELECT 
				VW.Id
			FROM
				vwObjectsByUser VW 
			WHERE
				VW.UserId = @userId
		)

	UNION ALL

	-- Datapoints
	SELECT
		CONCAT(@DTP_P, CAST(DTP.Id AS VARCHAR)) Id
		,@DEV_P + CAST(DTP.DeviceId AS VARCHAR) Parent
		,DTP.[Name] [Text]
		,@DTP_P [Type]
	FROM 
		tblDatapoint DTP
	WHERE
		DTP.DeviceId IN 
		(
			SELECT
				DEV.Id
			FROM
				vwObjectsByUser VW
			INNER JOIN
				tblDevice DEV ON 
					DEV.ObjectId = VW.Id
			WHERE
				VW.UserId = @userId
		)

END
GO

EXEC prcMainTree '26b33240-b13e-406d-a2a3-b4e90af3c459'