/*
   2023 m. kovo 2 d., ketvirtadienis16:51:15
   User: sa
   Server: TERRA
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tblDebugLog
	(
	Id int NOT NULL IDENTITY (1, 1),
	Date datetime NOT NULL,
	UserId nvarchar(128) NULL,
	Body nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.tblDebugLog ADD CONSTRAINT
	DF_tblDebugLog_Date DEFAULT GETDATE() FOR Date
GO
ALTER TABLE dbo.tblDebugLog ADD CONSTRAINT
	PK_tblDebugLog PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tblDebugLog SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDebugLog', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDebugLog', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDebugLog', 'Object', 'CONTROL') as Contr_Per 