/*
   2022 m. spalio 19 d., trečiadienis22:56:44
   User: sa
   Server: TERRA
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblPost
	DROP CONSTRAINT FK_tblPost_AspNetUsers
GO
ALTER TABLE dbo.AspNetUsers SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.AspNetUsers', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.AspNetUsers', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.AspNetUsers', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblPost
	DROP CONSTRAINT DF_tblPost_Date
GO
ALTER TABLE dbo.tblPost
	DROP CONSTRAINT DF_tblPost_Audience
GO
CREATE TABLE dbo.Tmp_tblPost
	(
	Id int NOT NULL IDENTITY (1, 1),
	UserId nvarchar(128) NOT NULL,
	Date datetime NOT NULL,
	Body nvarchar(MAX) NOT NULL,
	Audience int NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tblPost SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_tblPost ADD CONSTRAINT
	DF_tblPost_Date DEFAULT (getdate()) FOR Date
GO
ALTER TABLE dbo.Tmp_tblPost ADD CONSTRAINT
	DF_tblPost_Audience DEFAULT ((0)) FOR Audience
GO
SET IDENTITY_INSERT dbo.Tmp_tblPost ON
GO
IF EXISTS(SELECT * FROM dbo.tblPost)
	 EXEC('INSERT INTO dbo.Tmp_tblPost (Id, UserId, Date, Body, Audience)
		SELECT Id, UserId, Date, Body, CONVERT(int, Audience) FROM dbo.tblPost WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_tblPost OFF
GO
ALTER TABLE dbo.tblPostImage
	DROP CONSTRAINT FK_tblPostImage_tblPost
GO
DROP TABLE dbo.tblPost
GO
EXECUTE sp_rename N'dbo.Tmp_tblPost', N'tblPost', 'OBJECT' 
GO
ALTER TABLE dbo.tblPost ADD CONSTRAINT
	PK_tblPost PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tblPost WITH NOCHECK ADD CONSTRAINT
	FK_tblPost_AspNetUsers FOREIGN KEY
	(
	UserId
	) REFERENCES dbo.AspNetUsers
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.tblPost
	NOCHECK CONSTRAINT FK_tblPost_AspNetUsers
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblPost', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblPost', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblPost', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblPostImage WITH NOCHECK ADD CONSTRAINT
	FK_tblPostImage_tblPost FOREIGN KEY
	(
	PostId
	) REFERENCES dbo.tblPost
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.tblPostImage
	NOCHECK CONSTRAINT FK_tblPostImage_tblPost
GO
ALTER TABLE dbo.tblPostImage SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblPostImage', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblPostImage', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblPostImage', 'Object', 'CONTROL') as Contr_Per 