/*
   2022 m. liepos 12 d., antradienis21:10:50
   User: sa
   Server: TERRA
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDatapointValue
	DROP CONSTRAINT FK_tblDatapointValue_tblDatapoint
GO
ALTER TABLE dbo.tblDatapoint SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDatapointValue
	DROP CONSTRAINT DF_tblDatapointValue_Date
GO
ALTER TABLE dbo.tblDatapointValue
	DROP CONSTRAINT DF_tblDatapointValue_Value
GO
CREATE TABLE dbo.Tmp_tblDatapointValue
	(
	Id int NOT NULL IDENTITY (1, 1),
	DatapointId int NOT NULL,
	Date smalldatetime NOT NULL,
	Value decimal(18, 4) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tblDatapointValue SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_tblDatapointValue ADD CONSTRAINT
	DF_tblDatapointValue_Date DEFAULT (getdate()) FOR Date
GO
ALTER TABLE dbo.Tmp_tblDatapointValue ADD CONSTRAINT
	DF_tblDatapointValue_Value DEFAULT ((0)) FOR Value
GO
SET IDENTITY_INSERT dbo.Tmp_tblDatapointValue ON
GO
IF EXISTS(SELECT * FROM dbo.tblDatapointValue)
	 EXEC('INSERT INTO dbo.Tmp_tblDatapointValue (Id, DatapointId, Date, Value)
		SELECT Id, DatapointId, CONVERT(smalldatetime, Date), Value FROM dbo.tblDatapointValue WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_tblDatapointValue OFF
GO
DROP TABLE dbo.tblDatapointValue
GO
EXECUTE sp_rename N'dbo.Tmp_tblDatapointValue', N'tblDatapointValue', 'OBJECT' 
GO
ALTER TABLE dbo.tblDatapointValue ADD CONSTRAINT
	PK_tblDatapointValue PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tblDatapointValue WITH NOCHECK ADD CONSTRAINT
	FK_tblDatapointValue_tblDatapoint FOREIGN KEY
	(
	DatapointId
	) REFERENCES dbo.tblDatapoint
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.tblDatapointValue
	NOCHECK CONSTRAINT FK_tblDatapointValue_tblDatapoint
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDatapointValue', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDatapointValue', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDatapointValue', 'Object', 'CONTROL') as Contr_Per 