USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcLastDatapointValue]    Script Date: 2023-05-31 13:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[prcLastDatapointValue] (
	@DatapointId int
) AS BEGIN

	SET NOCOUNT ON;	-- saves the day as elsewhere PHP MSSQL Driver failing to retrieve the result.

	SELECT
		TOP 1 *
	FROM
		tblDatapointValue DTP
	WHERE
		DTP.DatapointId = @DatapointId
	ORDER BY [Date] DESC

END