USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcAlgorithmList]    Script Date: 2023-06-22 12:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[prcAlgorithmList] AS BEGIN

	SET NOCOUNT ON;	-- saves the day as elsewhere PHP MSSQL Driver failing to retrieve the result.

	SELECT *
	FROM  
		tblAlgorithm ALG
	WHERE
		ALG.Deleted IS NULL

END
