/*
   2022 m. gruodžio 28 d., trečiadienis12:12:31
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tblGroup
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name dbo.en_name NULL,
	UserId nvarchar(128) NULL,
	Deleted datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.tblGroup ADD CONSTRAINT
	PK_tblGroup PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tblGroup SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblGroup', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblGroup', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblGroup', 'Object', 'CONTROL') as Contr_Per 