/*
   2023 m. gegužės 18 d., ketvirtadienis12:34:47
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblAlgorithm ADD CONSTRAINT
	DF_tblAlgorithm_SnoozeNotificationTill DEFAULT (getdate()) FOR SnoozeNotificationTill
GO
ALTER TABLE dbo.tblAlgorithm SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'CONTROL') as Contr_Per 