USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcDeviceListForScanning]    Script Date: 2023-03-10 17:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prcDeviceListForScanning] AS

SELECT *

FROM 
	tblDevice D
WHERE
	D.Protocol = 10 AND D._active = 1 AND D._deleted = 0
