/*
   2022 m. gruodžio 21 d., trečiadienis11:47:55
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDevice
	DROP CONSTRAINT DF_tblDevice__deviceTypeId
GO
ALTER TABLE dbo.tblDevice
	DROP CONSTRAINT DF_tblDevice_unitId
GO
ALTER TABLE dbo.tblDevice
	DROP CONSTRAINT DF_tblDevice_interval
GO
ALTER TABLE dbo.tblDevice
	DROP CONSTRAINT DF_tblDevice__active
GO
ALTER TABLE dbo.tblDevice
	DROP CONSTRAINT DF_tblDevice__deleted
GO
CREATE TABLE dbo.Tmp_tblDevice
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name dbo.en_name NULL,
	Description dbo.en_desc NULL,
	Type int NOT NULL,
	ObjectId int NULL,
	CreationDate datetime NULL,
	ModificationDate datetime NULL,
	DeviceTypeId int NOT NULL,
	URL dbo.en_name NULL,
	UnitId int NOT NULL,
	Interval int NOT NULL,
	Protocol int NOT NULL,
	Topic dbo.en_name NULL,
	lastScanTime datetime NULL,
	projectedScanTime  AS (case when [lastScanTime] IS NULL then getdate() else dateadd(second,[Interval],[lastScanTime]) end),
	_active bit NOT NULL,
	_deleted bit NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tblDevice SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__deviceTypeId DEFAULT ((0)) FOR DeviceTypeId
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice_unitId DEFAULT ((1)) FOR UnitId
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice_interval DEFAULT ((3600)) FOR Interval
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice_Protocol DEFAULT ((10)) FOR Protocol
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__active DEFAULT ((1)) FOR _active
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__deleted DEFAULT ((0)) FOR _deleted
GO
SET IDENTITY_INSERT dbo.Tmp_tblDevice ON
GO
IF EXISTS(SELECT * FROM dbo.tblDevice)
	 EXEC('INSERT INTO dbo.Tmp_tblDevice (Id, Name, Description, Type, ObjectId, CreationDate, ModificationDate, DeviceTypeId, URL, UnitId, Interval, lastScanTime, _active, _deleted)
		SELECT Id, Name, Description, Type, ObjectId, CreationDate, ModificationDate, DeviceTypeId, URL, UnitId, Interval, lastScanTime, _active, _deleted FROM dbo.tblDevice WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_tblDevice OFF
GO
ALTER TABLE dbo.tblDatapoint
	DROP CONSTRAINT FK_tblDatapoint_tblDevice
GO
DROP TABLE dbo.tblDevice
GO
EXECUTE sp_rename N'dbo.Tmp_tblDevice', N'tblDevice', 'OBJECT' 
GO
ALTER TABLE dbo.tblDevice ADD CONSTRAINT
	PK_Device PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDatapoint WITH NOCHECK ADD CONSTRAINT
	FK_tblDatapoint_tblDevice FOREIGN KEY
	(
	DeviceId
	) REFERENCES dbo.tblDevice
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.tblDatapoint
	NOCHECK CONSTRAINT FK_tblDatapoint_tblDevice
GO
ALTER TABLE dbo.tblDatapoint SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'CONTROL') as Contr_Per 