/*
   2023 m. balandžio 6 d., ketvirtadienis13:25:57
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_Type
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_ObjectId
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_AlarmId
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_GroupId
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_DatapointId
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_ValueFrom_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_ValueTo_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_DateStart_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_DateEnd_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_TimeStart_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_TimeEnd_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnMonday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnTuesday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnWednesday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnThursday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnFriday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnSaturday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_OnSunday_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_ValueOff_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_ValueOn_1
GO
ALTER TABLE dbo.tblAlgorithm
	DROP CONSTRAINT DF_tblAlgorithm_Status
GO
CREATE TABLE dbo.Tmp_tblAlgorithm_1
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name dbo.en_name NULL,
	Description dbo.en_desc NULL,
	Type int NULL,
	ObjectId int NULL,
	AlarmId int NULL,
	GroupId int NULL,
	DatapointId int NULL,
	ValueFrom decimal(18, 4) NULL,
	ValueTo decimal(18, 4) NULL,
	DateStart date NULL,
	DateEnd date NULL,
	TimeStart time(7) NULL,
	TimeEnd time(7) NULL,
	OnMonday bit NOT NULL,
	OnTuesday bit NOT NULL,
	OnWednesday bit NOT NULL,
	OnThursday bit NOT NULL,
	OnFriday bit NOT NULL,
	OnSaturday bit NOT NULL,
	OnSunday bit NOT NULL,
	ValueOff decimal(18, 4) NOT NULL,
	ValueOn decimal(18, 4) NOT NULL,
	Status decimal(18, 4) NOT NULL,
	[Read] datetime NULL,
	EventTime datetime NULL,
	Deleted datetime NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_Type DEFAULT ((10)) FOR Type
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_ObjectId DEFAULT ((0)) FOR ObjectId
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_AlarmId DEFAULT ((0)) FOR AlarmId
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_GroupId DEFAULT ((0)) FOR GroupId
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_DatapointId DEFAULT ((0)) FOR DatapointId
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_ValueFrom_1 DEFAULT ((0)) FOR ValueFrom
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_ValueTo_1 DEFAULT ((1)) FOR ValueTo
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_DateStart_1 DEFAULT (getdate()) FOR DateStart
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_DateEnd_1 DEFAULT (getdate()) FOR DateEnd
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_TimeStart_1 DEFAULT (getdate()) FOR TimeStart
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_TimeEnd_1 DEFAULT (getdate()) FOR TimeEnd
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnMonday_1 DEFAULT ((0)) FOR OnMonday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnTuesday_1 DEFAULT ((0)) FOR OnTuesday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnWednesday_1 DEFAULT ((0)) FOR OnWednesday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnThursday_1 DEFAULT ((0)) FOR OnThursday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnFriday_1 DEFAULT ((0)) FOR OnFriday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnSaturday_1 DEFAULT ((0)) FOR OnSaturday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_OnSunday_1 DEFAULT ((0)) FOR OnSunday
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_ValueOff_1 DEFAULT ((0)) FOR ValueOff
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_ValueOn_1 DEFAULT ((1)) FOR ValueOn
GO
ALTER TABLE dbo.Tmp_tblAlgorithm_1 ADD CONSTRAINT
	DF_tblAlgorithm_Status DEFAULT ((0)) FOR Status
GO
SET IDENTITY_INSERT dbo.Tmp_tblAlgorithm_1 ON
GO
IF EXISTS(SELECT * FROM dbo.tblAlgorithm)
	 EXEC('INSERT INTO dbo.Tmp_tblAlgorithm_1 (Id, Name, Description, Type, ObjectId, AlarmId, GroupId, DatapointId, ValueFrom, ValueTo, DateStart, DateEnd, TimeStart, TimeEnd, OnMonday, OnTuesday, OnWednesday, OnThursday, OnFriday, OnSaturday, OnSunday, ValueOff, ValueOn, Status, EventTime, Deleted)
		SELECT Id, Name, Description, Type, ObjectId, AlarmId, GroupId, DatapointId, ValueFrom, ValueTo, DateStart, DateEnd, TimeStart, TimeEnd, OnMonday, OnTuesday, OnWednesday, OnThursday, OnFriday, OnSaturday, OnSunday, ValueOff, ValueOn, Status, EventTime, Deleted FROM dbo.tblAlgorithm WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_tblAlgorithm_1 OFF
GO
DROP TABLE dbo.tblAlgorithm
GO
EXECUTE sp_rename N'dbo.Tmp_tblAlgorithm_1', N'tblAlgorithm', 'OBJECT' 
GO
ALTER TABLE dbo.tblAlgorithm ADD CONSTRAINT
	PK_tblAlgorithm PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblAlgorithm', 'Object', 'CONTROL') as Contr_Per 