/*
   2022 m. rugpjūčio 25 d., ketvirtadienis11:42:04
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDatapoint ADD
	measureUnit dbo.en_name NULL,
	_datapointTypeId tinyint NOT NULL CONSTRAINT DF_tblDatapoint__datapointTypeId DEFAULT 1,
	registerAddress int NOT NULL CONSTRAINT DF_tblDatapoint_registerAddress DEFAULT 0,
	registerType int NOT NULL CONSTRAINT DF_tblDatapoint_registerType DEFAULT 16,
	functionCode int NOT NULL CONSTRAINT DF_tblDatapoint_functionCode DEFAULT 3,
	multiplier decimal(18, 4) NOT NULL CONSTRAINT DF_tblDatapoint_multiplier DEFAULT 1,
	offset decimal(18, 4) NOT NULL CONSTRAINT DF_tblDatapoint_offset DEFAULT 0,
	_active bit NOT NULL CONSTRAINT DF_tblDatapoint__active DEFAULT 1,
	_deleted bit NOT NULL CONSTRAINT DF_tblDatapoint__deleted DEFAULT 0,
	_cdate datetime NOT NULL CONSTRAINT DF_tblDatapoint__cdate DEFAULT getdate(),
	_cuserId int NULL,
	_mdate datetime NULL,
	_muserId int NULL,
	_ddate datetime NULL,
	_duserId int NULL,
	_madate datetime NULL,
	_mauserId int NULL
GO
ALTER TABLE dbo.tblDatapoint ADD CONSTRAINT
	DF_tblDatapoint__mdate DEFAULT getdate() FOR _mdate
GO
ALTER TABLE dbo.tblDatapoint SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'CONTROL') as Contr_Per 