USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcLastFormulaCalcTimeUpdate]    Script Date: 2023-06-02 16:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prcLastFormulaCalcTimeUpdate] (
	@DatapointId int
) AS BEGIN

	UPDATE
		tblDatapoint
	SET 
		LastFormulaCalcTime = DATEADD(HOUR, DATEDIFF(HOUR, 0, GETDATE()) + DATEDIFF(HOUR, GETDATE(), GETDATE()), 0)
	WHERE
		Id = @DatapointId
		
END