USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcScanPreparation]    Script Date: 2023-03-10 17:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prcScanPreparation] (@_deviceId int) AS 

-- Used in device sanning (.NET module)

SELECT * FROM tblDevice WHERE Id = @_deviceId AND _active = 1 AND _deleted = 0

SELECT *
FROM
	tblDatapoint
WHERE DeviceId = @_deviceId AND
	DatapointTypeId = 1 AND
	[ReadWrite] = 0 AND 
	_active = 1 AND 
	_deleted = 0