USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcAlgorithmStatusSet]    Script Date: 2023-03-13 18:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prcAlgorithmStatusSet] (
	@AlgorithmId int, 
	@Status decimal
) AS BEGIN

	-- Get Algorithm Type
	Declare @AlgorithmType int

	SELECT
		@AlgorithmType = ALG.Type
	FROM
		tblAlgorithm ALG
	WHERE
		ALG.Id = @AlgorithmId

	-- Update Algorithm Status
	UPDATE
		tblAlgorithm
	SET 
		[Status] = @Status
	WHERE
		Id = @AlgorithmId

	-- Update Algorithm Event Time
	IF (@AlgorithmType = 30) BEGIN

		UPDATE
			tblAlgorithm
		SET 
			[EventTime] = getdate()
		WHERE
			Id = @AlgorithmId
	END

END