/*
   2022 m. rugpjūčio 25 d., ketvirtadienis12:35:50
   User: sa
   Server: 192.168.0.7\SQLEXPRESS
   Database: ExperimentDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_tblDevice
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name dbo.en_name NULL,
	Description dbo.en_desc NULL,
	Type int NOT NULL,
	CreationDate datetime NULL,
	ModificationDate datetime NULL,
	UserId nvarchar(MAX) NULL,
	_deviceTypeId tinyint NOT NULL,
	url dbo.en_name NULL,
	unitId tinyint NOT NULL,
	interval int NOT NULL,
	lastScanTime datetime NULL,
	projectedScanTime  AS (case when [lastScanTime] IS NULL then getdate() else dateadd(second,[interval],[lastScanTime]) end),
	_active bit NOT NULL,
	_deleted bit NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tblDevice SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__deviceTypeId DEFAULT 0 FOR _deviceTypeId
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice_unitId DEFAULT 1 FOR unitId
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice_interval DEFAULT 3600 FOR interval
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__active DEFAULT 1 FOR _active
GO
ALTER TABLE dbo.Tmp_tblDevice ADD CONSTRAINT
	DF_tblDevice__deleted DEFAULT 0 FOR _deleted
GO
SET IDENTITY_INSERT dbo.Tmp_tblDevice ON
GO
IF EXISTS(SELECT * FROM dbo.tblDevice)
	 EXEC('INSERT INTO dbo.Tmp_tblDevice (Id, Name, Description, Type, CreationDate, ModificationDate, UserId)
		SELECT Id, Name, Description, Type, CreationDate, ModificationDate, UserId FROM dbo.tblDevice WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_tblDevice OFF
GO
ALTER TABLE dbo.tblDatapoint
	DROP CONSTRAINT FK_tblDatapoint_tblDevice
GO
DROP TABLE dbo.tblDevice
GO
EXECUTE sp_rename N'dbo.Tmp_tblDevice', N'tblDevice', 'OBJECT' 
GO
ALTER TABLE dbo.tblDevice ADD CONSTRAINT
	PK_Device PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDevice', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblDatapoint WITH NOCHECK ADD CONSTRAINT
	FK_tblDatapoint_tblDevice FOREIGN KEY
	(
	DeviceId
	) REFERENCES dbo.tblDevice
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.tblDatapoint
	NOCHECK CONSTRAINT FK_tblDatapoint_tblDevice
GO
ALTER TABLE dbo.tblDatapoint SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.tblDatapoint', 'Object', 'CONTROL') as Contr_Per 