USE [ExperimentDB]
GO
/****** Object:  StoredProcedure [dbo].[prcDeviceListForScanning]    Script Date: 2022-08-22 13:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcDeviceListForScanning] AS

SELECT *

FROM 
	tblDevice
